italian_legislator_17-1-D_final.rda
italian_legislator_17-1-null_councilors.rda
italian_legislator_17-1-null_votes.rda
italian_legislator_17-1-scores_matrix.rda
italian_legislator_17-1-weight.rda
italian_legislator_17-1-weighted_vote_disputedness.rda
italian_legislator_17-2-D_final.rda
italian_legislator_17-2-null_councilors.rda
italian_legislator_17-2-null_votes.rda
italian_legislator_17-2-scores_matrix.rda
italian_legislator_17-2-weight.rda
italian_legislator_17-2-weighted_vote_disputedness.rda
italian_legislator_17-3-D_final.rda
italian_legislator_17-3-null_councilors.rda
italian_legislator_17-3-null_votes.rda
italian_legislator_17-3-scores_matrix.rda
italian_legislator_17-3-weight.rda
italian_legislator_17-3-weighted_vote_disputedness.rda
italian_legislator_18-1-D_final.rda
italian_legislator_18-1-null_councilors.rda
italian_legislator_18-1-null_votes.rda
italian_legislator_18-1-scores_matrix.rda
italian_legislator_18-1-weight.rda
italian_legislator_18-1-weighted_vote_disputedness.rda
italian_legislator_18-2-D_final.rda
italian_legislator_18-2-null_councilors.rda
italian_legislator_18-2-null_votes.rda
italian_legislator_18-2-scores_matrix.rda
italian_legislator_18-2-weight.rda
italian_legislator_18-2-weighted_vote_disputedness.rda
italian_legislator_18-3-D_final.rda
italian_legislator_18-3-null_councilors.rda
italian_legislator_18-3-null_votes.rda
italian_legislator_18-3-scores_matrix.rda
italian_legislator_18-3-weight.rda
italian_legislator_18-3-weighted_vote_disputedness.rda
swiss_legislator_49-1-D_final.rda
swiss_legislator_49-1-null_councilors.rda
swiss_legislator_49-1-null_votes.rda
swiss_legislator_49-1-scores_matrix.rda
swiss_legislator_49-1-weight.rda
swiss_legislator_49-1-weighted_vote_disputedness.rda
swiss_legislator_49-2-D_final.rda
swiss_legislator_49-2-null_councilors.rda
swiss_legislator_49-2-null_votes.rda
swiss_legislator_49-2-scores_matrix.rda
swiss_legislator_49-2-weight.rda
swiss_legislator_49-2-weighted_vote_disputedness.rda
swiss_legislator_49-3-D_final.rda
swiss_legislator_49-3-null_councilors.rda
swiss_legislator_49-3-null_votes.rda
swiss_legislator_49-3-scores_matrix.rda
swiss_legislator_49-3-weight.rda
swiss_legislator_49-3-weighted_vote_disputedness.rda
swiss_legislator_50-1-D_final.rda
swiss_legislator_50-1-null_councilors.rda
swiss_legislator_50-1-null_votes.rda
swiss_legislator_50-1-scores_matrix.rda
swiss_legislator_50-1-weight.rda
swiss_legislator_50-1-weighted_vote_disputedness.rda
swiss_legislator_50-2-D_final.rda
swiss_legislator_50-2-null_councilors.rda
swiss_legislator_50-2-null_votes.rda
swiss_legislator_50-2-scores_matrix.rda
swiss_legislator_50-2-weight.rda
swiss_legislator_50-2-weighted_vote_disputedness.rda
swiss_legislator_50-3-D_final.rda
swiss_legislator_50-3-null_councilors.rda
swiss_legislator_50-3-null_votes.rda
swiss_legislator_50-3-scores_matrix.rda
swiss_legislator_50-3-weight.rda
swiss_legislator_50-3-weighted_vote_disputedness.rda
